
<div class="container">
    <mat-toolbar color="primary" class="d-flex justify-content-between">
      <div>
      <mat-icon>restaurant</mat-icon>
        <small class="ml-2"> RECIPE APP</small>
        </div>
        <div>
        <mat-menu #menu="matMenu">
          <span mat-menu-item [routerLink]="['my-recipes']">My Recipes</span>
          <span mat-menu-item [routerLink]="['ingredients']">My Ingredients</span>
          <span mat-menu-item [routerLink]="['recipe-ideas']">Recipe Ideas</span>
          <span mat-menu-item [routerLink]="['shopping-list']">Shopping List</span>
        </mat-menu>
        <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
      </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div> 
<footer class="p-5"></footer>